.env
.venv/
backup.sql
local-dump.sql
memory.md
images.zip
images_flat.zip 
page-2026-05-12-0945.xml
wikibase-images.tar.gz
images/
backups/
pages-backup/
push_to_production.py
wikibase-config-*.tar.gz
wikibase-uploads-*.zip
wikibase-images-*.tar.gz
*.tar.gz
*.zip


